@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Kanit:wght@300&family=Righteous&display=swap');


#loader {
    background: rgba(0, 0, 0, 0.425)  no-repeat center center;
    height: 100vh;
    top: 0;
    left: 0;
    background-size: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    transition: 50s;
}

.s-loader{
    background: #7bff00;
    margin-top: 2px;
    display: block;
    height: 2px;
    border: 1px solid rgba(37, 38, 37, 0.937);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.5s cubic-bezier(.25,.8,.25.1);
}

.s-loader span{
    height: 8px;
    float: left;
    background: linear-gradient(135deg, rgb(251, 251, 251), rgb(112, 112, 112)100%);
}

.s-loader{
    width: 90%;
    animation: s-loader 0.2s;
}

@keyframes s-loader{
    0%{
        width: 0%;
    }
    100%{
        width:100% ;
    }
}

body{
    font-family: Kanit;
    background-color: #1d1d1d;
}


nav{
    position: fixed;
    display: inline-flex;
    flex-direction: column-reverse;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    margin: 0 auto;
    padding: 2px;
    background-color: #1d1d1d;
    border-bottom: 1px  solid #7bff00;
}

.menubox{
    max-width: 1400px;
    margin: 0 20px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.modal-button {
    background: none;
    outline: none;
    border: none;
    padding: 2px 20px;
}

.nav-icon {
    width: 40px;
    height: 40px;
    right: 10px;
    position: relative;
    display: block;
    padding: 0px 2px;
    transition: 0.2s;cursor: pointer;
}

.nav-icon:hover {
    width: 50px;
    height: 50px;
    transform: translateY(-2px );
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 2px solid rgb(108, 108, 108);
    border-radius: 10px;
    z-index: 10;
    background-color: #0d0d0d7f;
    width: 500px;
    max-width: 80%;
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

modal.modal-icon {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 4px;
    position: relative;
}

.modal-header{
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header .title {
    font-family: josefin sans;
    font-size: 1.25rem;
    font-weight: 900;
    color: #e8e8e8;
}

@media (max-width: 768px){
    .modal-header .title {
        font-family: josefin sans;
        font-size: 1.0rem;
        font-weight: 900;
        color: #e8e8e8;
    }

    .nav-icon {
        margin-left: 50px;
        width: 40px;
        height: 40px;
        right: 10px;
        position: relative;
        display: block;
        padding: 0px 2px;
        transition: 0.2s;cursor: pointer;
    }


}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    border-radius: 20px;
    font-size: 1.25rem;
    font-weight: bold;
    color: #f0f0f0;
}

.modal-header .close-button:hover{
    background: #ff0404c7;
    font-size: 30px;
    width: 35px;
    height: 35px;
}

.modal-icon {
    width: 50px;
    height: 50px;

}

.modal-body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}



.modal-body i {
    box-sizing:content-box;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20%;
    color: #7bff00;
    background-color: #6b6b6b;
    text-align: center;
    margin: 0 4px;
}

.modal-body i:hover {
    color: #2b2b2b;
    background-color: #ff9100;
    border: 1px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}

.modal-me {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e8e8e8;
    font-family: 'Courier New', Courier, monospace;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}


.hamburger{
    margin: 0 20px;
    padding: 10px;
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

.hamburger span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: #ff9100;
    border: 8px;
    border-radius:10px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.2s;
}


.hamburger.is-active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);
    background-color: #7bff00;
}

.hamburger.is-active span:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
    background-color: #7bff00;
}

.menu{
    margin: 2px 50px;
    display: flex;
    font-size: 22px;
    font-family: Kanit;
    display: none;
    justify-content: right;

}

.menu a {
    color: #e7e7e7;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 15px;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.menu a.is-active, .menu a:hover{
    font-size: 20px;
    transform: translateY(8px);
    color: #ff9100;

}

.mobile-nav {
    position: fixed;
    top: 100%;
    width: 100%;
    min-height: 800px;
    display: block;
    z-index: 98;
    background-color: rgba(30, 29, 29, 0.933);
    padding-top: 120px;
    transition: 0.2s;
    border: none;

}

.mobile-nav a{
        display: block;
        top: 20px;
        font-size: 20px;
        color: #ff9100;
        font-weight: 900;
        font-family: Kanit;
        border-radius: 99px;
        text-align: center;
        max-width:100px;
        margin: 16px auto 16px;
        padding: 8px 16px;
        text-decoration:none;
}

.mobile-nav.is-active{
    top: 0;
}

.mobile-nav a.is-active, .mobile-nav a:hover{
    background-color:#ff9100;
    color: #2b2b2b;

}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }
    .menu{
        display: flex;
    }
}

.bdimg{
    
    background-image: url(./body\ icon.jpg);
    border-bottom: 1px solid #000000;
}



h1 {
    margin-top: 80px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 800;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-content: flex-end;
    flex-direction: column;
    font-weight: 800;
    position: flex;
    color: #7bff00;
    animation: slideInLeft 2s ease-in 0s 1 normal none;
    transform: translateX(-50px);
}


@keyframes slideInLeft{
    from{
        transform: translateX(150px);
    }

    to{
        transform: translateX(-50px);
    }
}
 
h2 .auto-input {
    color: #e7e7e7;

}

.hola{
    color: #ff9100;
}

.text {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
    font-family: righteous;
    font-size: 20px;
    color: #ff9100;
}


.about{
    display: flex;
    align-items: center;
    background:  linear-gradient(rgba(222, 222, 222, 0.225),rgba(213, 213, 213, 0.099) );
}

p1{
    padding: 80px;
    margin: 1%;
    font-family: josefin sans;
    letter-spacing: 2px;
    font-size: 20px;
    color: #dfdfdf;
    max-width: 50%;
    border-right: 1px solid #000000;
}

.body-icon {
    padding: 2%;
    margin: 1%;
    width: auto;
    max-width: 50%;
    width: 300px;
    height: 300px;


}


@media (max-width: 760px){
    .text{
        font-size: 15px;
    }

    p1{
        font-family: josefin sans;
        padding: 2%;
        font-size: 12px;
        display: block;
        max-width: 50%;
    }

    .body-icon {
        padding: 10px;
        margin: 2%;
        max-width: 50%;
        width: 200px;
        height: 200px;
    }

    h1{
        font-family: 'Courier New', Courier, monospace;
        margin-top: 80px;
        font-size: 20px;
        font-weight: 800;
        transform: translateX(-40px);
        animation: slideInLeft 2s ease-in 0s 1 normal none;
    }
    
    @keyframes slideInLeft{
        from{
            transform: translateX(150px);
        }
    
        to{
            transform: translateX(-40px);
        }
    }

}

h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: #ff9100;
    padding: 1% ;
    width: 50%;
    margin: 1% auto;
    letter-spacing: 2px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

}

@media (max-width: 760px){
    h3{
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        color: #ff9100;
        padding: 1% ;
        width: 50%;
        margin: 1% auto;
        letter-spacing: 2px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    
    }
}


.education {
    margin-top: 1px;
    padding: 0px 10px;
    display: grid;
    font-size: 20px;
    background:  linear-gradient(rgba(222, 222, 222, 0.225),rgba(213, 213, 213, 0.099) );
}

.education h5{
    color: #dfdfdf;
}

.education .edu{
    font-size: 15px;
    color: #6b6b6b;
    padding: 0px 25px;
}

.a-skills{
    margin-top: 1px;
    padding: 1px;
    background:  linear-gradient(rgba(213, 213, 213, 0.099), rgba(222, 222, 222, 0.225) );
}



.l-skills{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;

}

.l-skills .card{

    position: relative;
    width: 220px;
    height: 220px;
    background: #2a2a2a;
    display: flex;
    justify-content: center;
    align-items: center;

}

.l-skills .card .percent{
    position: relative;
    width: 150px;
    height: 150px;
    

}


.l-skills .card .percent svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);

}

.l-skills .card .percent svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2;
    stroke: #191919;
    transform: translate(5px,5px);
}

.l-skills .card .percent svg circle:nth-child(2){
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.dot{
    position: absolute;
    inset: 5px;
    z-index: 10;
    transform: rotate(calc(3.6deg * var(--num)));
    animation: animateDot 2s linear forwards;
}

@keyframes animateDot{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(calc(3.6deg * var(--num)));
    }
}

.dot::before{
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),0 0 30px var(--clr);

}

.number{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;

}

.number h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 200;
    font-size: 2.5em;
}

.number h2 span{
    font-weight: 300;
    color: #fff;
    font-size: 0.5em;
}

.number p{
    font-weight: 100;
    font-size: 0.75em;
    letter-spacing: 2px;
    margin-top: -35px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.75);
}


.o-skills{
    padding: 2%;
    width: 50%;
    margin:2% auto;
    letter-spacing: 2px;
    font-size: 20px;
    color: #dfdfdf;
}

h4{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #ff9100;
    text-transform: capitalize;
}

@media (max-width: 760px){
    .a-skills{
        width: auto;
        display: block;
        align-items: center;
        padding-top: 1px;
    }

    .l-skills{
        width: auto;
        height: auto;
    }

    /*.o-skills{
        width: auto;
        height: auto;
        border: 0;
    }

    .bar{
        margin-left: 10px;
    }

    .o-skills li{
        padding: 1px;
        margin: 1px;
    }*/
}




.services{
    margin-top: 1px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: block;
    background:  linear-gradient(rgba(213, 213, 213, 0.099), rgba(222, 222, 222, 0.225) );

}



.services .serv h4{
    font-family: josefin sans;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 300;
    color: #ffffff;

}


.Contactme{
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    align-items: center;
    background:  linear-gradient(rgba(213, 213, 213, 0.099), rgba(222, 222, 222, 0.225) );

    
}

.Contactme .contsl{
    text-align: center;
    padding-bottom: 25px;
    color: #2b0053;
}

.Contactme .contsl a{
    display: inline-block;
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    border: 4px solid whitesmoke;
    border-radius: 50%;
    color: rgb(107, 107, 107);
    text-align: center;
    transition: 0.4s;
    margin: 0 4px;
}

.coppy{
    font-family: josefin sans;
    letter-spacing: 2px;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 300;
    color: #2a2a2a;
}

iframe{
    display: none;
}


